html {
    overflow: auto;
    font-family: 'Barlow', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 860px;
    border: 1px solid none;
    margin: auto;
    overflow: hidden;
    border: 4px solid #255000;
}

header {
    padding: 0px;
    margin-top: 10px;
    height: 175px;
    width: 100%;
    padding-top: 0px;
    text-align: center;

}

.main_header {
    padding: 20px;

}

main {
    //    padding-top: 20px;
}

.left_header_img {

    float: left;
    width: 70%;
    height: 250px;
    box-sizing: border-box;
    border: 1px solid black;


}

.right_header_img {

    float: right;
    width: 30%;
    height: 250px;
    padding-top: 50px;
    box-sizing: border-box;
    border: 1px solid black;



}

.main_box {
    float: left;
    height: 1000px;
    width: 100%;


}

.middle_parent_box {
    padding: 100px;
    padding-top: 20px;
    float: left;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.middle_main_box {
    float: left;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 5px;
}


.title_container {

    padding: 10px;
    height: 100%;


}

.container {

    height: 100%;
    width: 100%;

}

.ad_container {
    padding: 10px;
    width: 98%;
    height: 120px;
    cursor: pointer;
    overflow: hidden
}

.ad_container:hover {
    background-color: #255000;
    color: white;

}


hr {
    display: block;
    border: 0;
    border-top: 1px solid #255000;
    padding: 0;
}

.hr {

    float: left;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    display: block;

}

.ads_first_page_title_left {

    float: left;
    width: 60%;
    height: 100%;
    box-sizing: border-box;

}

.ads_first_page_title_right {

    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;

}

.ads_first_page_left {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;


}

.ads_first_page_text_left {

    float: left;
    width: 35%;
    height: 100%;
    box-sizing: border-box;

}

.ads_first_page_right {

    float: left;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    word-wrap: break-word;


}

footer {
    float: left;
    margin-top: 10px;
    height: 175px;
    width: 100%;
    box-sizing: border-box;


}

.footer_menu {
    float: left;
    width: 33.3%;
    height: 100%;
    padding-top: 25px;
    border: 1px solid #f6f6f6;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #255000;
    color: black;

}

.footer_menu:hover {
    background-color: #f6f6f6;
}

.fas fa-home fa-5x {

background-color: transparent !important

}

.submit {
    background: none;
    border: none;
    font-size: 1em;
    color: blue;
}


img {
    max-width: 100%;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}


.read_more {

    padding-right: 10px;
    color: none;
    text-decoration: underline;
}

.read_more:hover {
    color: #255000;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 0px;
}

li {
    display: list-item;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 2px;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;

}

li:hover,
li:focus {
    background-color: #e6e6e6;
}

li:first-letter {
    text-transform: uppercase;
}

.done {
    display: block;
    color: darkgreen;
    float: right;
    padding-right: 15px;
    cursor: pointer;
    box-sizing: border-box;
}

.close {
    color: red;
    float: right;
    cursor: pointer;
    box-sizing: border-box;
}

#done_todo .done {
    display: none
}

.node_class {
    float: left;
    width: 100%;
    color: goldenrod;
    border: 1px solid black;
    box-sizing: border-box;
}


input[type=text] {
    width: 50%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    display: block;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.button_style {
    background-color: #255000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button_style:hover {
    opacity: 1
}

.style {

    color: red;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;

}


p {
    text-transform: uppercase;
}

h1 {
    font-size: 55px;
    font-weight: 800;
    margin: 0px;
    display: inline;
}

h2 {
    font-size: 25px;
    font-weight: 800;
    margin: 0px;
    display: inline;
    text-transform: uppercase;
}



h3 {
    font-size: 18px;
    font-weight: 800;
    margin: 0px;
    display: inline;

}
